.profile {
  position: relative;
  width: 300px;
  text-align: center;

  background-color: skyblue;
  padding: 1rem;

  margin-bottom: 20px;
}

.thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.newTag {
  position: absolute;
  left: 65%;
  top: 13%;

  background-color: brown;
  color: white;
  padding: 0.2rem 0.5rem;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 800;
  text-transform: uppercase;
}

.counter {
  width: 300px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 4rem;
}
